html,
body {
    background-color: #222222;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    margin: 0 auto;
    height: 70%;
    width: 70%;
}

/* Bottoni Filtri */
.btnFilter {
    background-color: #838787;
}

.btnFilter:hover {
    background-color: #717373;
}

.btnFilter:active {
    background-color: #3f4040;
}

.btnFilterActive {
    background-color: #3f4040;
}

.btnFilterActive:hover {
    background-color: #3f4040;
}

/* Tabella */
.Tabella {
    display: inline-block;
    padding-left: 28%;
}

.Legenda {
    display: inline-block;
    padding-left: 20%;
}

.Tab {
    color: white;
}
